*~
*.DS_Store
*.log
*.pdf
**/*.o
**/*.so
**/*.d
**/*.bo
**/*.pyc
bin/*
*/stat.txt
evaluation/*.txt
evaluation/*.json
evaluation/*_pes-*_l2banks.icnt
test/out/*.out
tools/*.cel
tools/*.sel
tools/*.adj
tools/*.sadj
tools/*.bin
tools/*.txt
*/*/.gdb_history
temp/
**/tags
*.nsys-rep
inputs/
.vscode/*.json
*.sqlite
*.swp
docker/*
datasets/*
!datasets/mico
codegen/gpm